<!doctype html>
<html>
<head>
    <title>Test Results</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <style>
        img {
            max-width: 100%;
        }
        li {
            list-style: none;
        }
        .error::before {
            content: "✖"
        }
        .success::before {
            content: "✔"
        }
        .success {
            color: #09B257;
        }
        .error {
            color: #FF1100;
        }
        .vrt-output .column {
            border: 0.1rem solid #e1e1e1;
        }
        .header-container {
            background: #6D0CA7;
            color: white;
            padding: 2em;
        }
        .body-container {
            margin-top: 2em;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <div class="container">
            <h1>Deviance report</h1>
            <header>
                <table border="0" cellpadding="3" cellspacing="0">
                    <tr>
                        <td class="passed">{{results.passed}} passed</td>
                        <td class="skipped">{{results.errors}} errors</td>
                        <td class="failed">{{results.failed}} failures</td>
                    </tr>
                </table>
            </header>
        </div>
    </div>

    <div class="container body-container">
        {{#each results.modules}}
            <section>
                <h2>{{@key}} {{#if this.skipped}}<small>(skipped)</small>{{/if}}</h2>

                {{#each this.completed}}
                    <h3>{{@key}}</h3>

                    <ul>
                        {{#each this.assertions}}
                            <li class="assertion">
                                <p class="{{#if failure}}error{{else}}success{{/if}}">
                                    {{this.message}}
                                </p>

                                {{#if this.failure}}
                                    <p><small>{{this.failure}}</small></p>
                                {{/if}}

                                {{#if this.stacktrace}}
                                    <code><pre>{{this.stacktrace}}</pre></code>
                                {{/if}}

                                {{#if failure}}
                                    <div class="row vrt-output">
                                        {{#if filePath.expected}}
                                            <div class="column column-33 to-remove">
                                                <img src="{{ filePath.expected }}">
                                            </div>
                                        {{/if}}

                                        {{#if filePath.diff}}
                                            <div class="column column-33 to-remove">
                                                <img src="{{ filePath.diff }}">
                                            </div>
                                        {{/if}}

                                        {{#if filePath.actual}}
                                            <div class="column column-33">
                                                <img src="{{ filePath.actual }}">
                                            </div>
                                        {{/if}}
                                    </div>
                                    <div class="row">
                                        {{#if filePath.diff}}
                                            <div class="column column-33 column-offset-66" style="text-align:center">
                                                <button class="i-approve" data-id="{{ id }}">Approve change</button>
                                            </div>
                                        {{/if}}
                                    </div>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>

                    {{#if this.failed}}
                        <p class="error"> <strong>FAILED:</strong> {{this.failed}} assertions failed.</p>
                        <p class="success"> {{this.passed}} passed. ({{this.time}}s)</p>
                    {{else}}
                        <p class="success"><strong>OK.</strong> {{this.passed}} assertions passed. ({{this.time}}s)</p>
                    {{/if}}
                {{/each}}

                {{#if this.skipped}}
                    <ul>
                        {{#each this.skipped}}
                            <li>{{this}} (skipped)</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </section>
            <hr>
        {{/each}}
    </div>
    <script>
        document.querySelectorAll('.i-approve').forEach(button => {
            const id = button.getAttribute('data-id');
            button.addEventListener('click', () => {
                fetch('/approve', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    body: JSON.stringify({id}),
                }).then(() => {
                    location.reload();
                });
            });
        });
    </script>
</body>
</html>