<!doctype html>
<html>
<head>
    <title>Test Results</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
    <link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">
    <style>
        img {
            max-width: 100%;
        }
        li {
            list-style: none;
        }
        p.fail::before {
            content: "✖"
        }
        p.success::before {
            content: "✔"
        }
        p.success {
            color: #09B257;
        }
        p.fail {
            color: #FF1100;
        }
        .vrt-output .column {
            border: 0.1rem solid #e1e1e1;
        }
        .header-container {
            background: #6D0CA7;
            color: white;
            padding: 2em;
        }
        .header-container .button {
            margin-right: 5px;
        }
        .body-container {
            margin-top: 2em;
        }
    
        section {
            padding: 40px 0;
            border-bottom: 1px solid darkgrey;
        }
        .toggle-skipped {
            margin-right: 5px;
        }
        label {
            display: inline;
            font-weight: 400;
        }
        .button.button-outline-light {
            color: #FFF;
        }
        .button.button-outline-light:hover {
            color: #FFF;
            border-color: #FFF;
        }

        .show-passed section.success *.fail,
        .show-passed section.success *.errors.show-errors {
            display: none;
        }

        .show-errors section.errors *.success,
        .show-errors section.errors *.fail,
        .show-errors section.fail, 
        .show-errors section.success {
            display: none;
        }

        .show-failed section.fail *.success,
        .show-failed section.fail *.error,
        .show-failed section.success,
        .show-failed section.errors {
            display: none;
        }
        .show-failed section.fail,
        .show-passed section.success,
        .show-errors section.show-errors {
            display: block;
        }
        .hide-skipped section.skipped {
            display: none;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <div class="container">
            <h1>Deviance report</h1>
            <header>
                <span id="all" class="toggle-body-content button button-outline-light">Show All</span>
                <span id="passed" class="toggle-body-content button button-outline button-outline-light">{{results.passed}} passed</span>
                <span id="errors" class="toggle-body-content button button-outline button-outline-light">{{results.errors}} errors</span>
                <span id="failed" class="toggle-body-content button button-outline button-outline-light">{{results.failed}} failures</span>
                <div class="float-right">
                    <input id="show-skipped" type="checkbox" class="toggle-skipped" checked />
                    <label for="show-skipped">Show skipped</label>
                </div>
            </header>
        </div>
    </div>

    <div class="container body-container">
        {{#each results.modules}}
            <section>
                <h2>{{@key}} {{#if this.skipped}}<small>(skipped)</small>{{/if}}</h2>

                {{#each this.completed}}
                    <h3>{{@key}}</h3>

                    <ul>
                        {{#each this.assertions}}
                            <li class="assertion {{#if failure}}fail{{else}}success{{/if}}">
                                <p class="{{#if failure}}fail{{else}}success{{/if}}">
                                    {{this.message}} {{#if this.failure}} - {{this.failure}}{{/if}}
                                </p>

                                {{#if this.stacktrace}}
                                    <code><pre>{{this.stacktrace}}</pre></code>
                                {{/if}}

                                {{#if failure}}
                                     {{#if filePath.diff}}
                                        <div class="row vrt-output">
                                            <div class="column column-33 to-remove">
                                                <img src="{{ filePath.expected }}">
                                            </div>
                                            <div class="column column-33 to-remove">
                                                <img src="{{ filePath.diff }}">
                                            </div>
                                            <div class="column column-33">
                                                <img src="{{ filePath.actual }}">
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="column column-33 column-offset-66" style="text-align:center">
                                                <button class="i-approve" data-id="{{ id }}">Approve change</button>
                                            </div>
                                        </div>
                                     {{/if}}
                                 {{/if}}

                                {{#if isNew}}
                                    <div class="row vrt-output">
                                        <div class="column column-33 to-remove"></div>
                                        <div class="column column-33 to-remove"></div>
                                        <div class="column column-33">
                                            <img src="{{ filePath.actual }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="column column-33 column-offset-66" style="text-align:center">
                                            <button class="i-approve" data-id="{{ id }}">Approve change</button>
                                        </div>
                                    </div>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>

                    {{#if this.failed}}
                        <p class="fail"> <strong>FAILED:</strong> {{this.failed}} assertions failed.</p>
                        <p class="success"> {{this.passed}} passed. ({{this.time}}s)</p>
                    {{else}}
                        <p class="success"><strong>OK.</strong> {{this.passed}} assertions passed. ({{this.time}}s)</p>
                    {{/if}}
                {{/each}}

                {{#if this.skipped}}
                    <ul class="skipped">
                        {{#each this.skipped}}
                            <li>{{this}} (skipped)</li>
                        {{/each}}
                    </ul>
                {{/if}}
            </section>
        {{/each}}
    </div>
    <script>
        document.querySelectorAll('.i-approve').forEach(button => {
            const id = button.getAttribute('data-id');
            button.addEventListener('click', () => {
                fetch('/approve', {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json; charset=utf-8",
                    },
                    body: JSON.stringify({id}),
                }).then(() => {
                    location.reload();
                });
            });
        });

        const sectionElements = document.querySelectorAll('section');
        sectionElements.forEach(section => {
            section.childNodes.forEach(el => {
                if (el.classList && el.classList.length > 0) {
                    section.classList.add(el.classList.value);
                }
            })
        });

        const bodyContainer = document.querySelector('.body-container');

        const toggleSkipped = document.querySelector('#show-skipped');
        toggleSkipped.addEventListener('change', (e) => {
            bodyContainer.classList.toggle('hide-skipped');
        })

        const toggleContentSwitches = document.querySelectorAll('.toggle-body-content');
        const switchIds = [];
        toggleContentSwitches.forEach(cs => {
            switchIds.push(cs.id);
            cs.addEventListener('click', (e) => {
                e.target.classList.remove('button-outline');
                switchIds.forEach(sid => bodyContainer.classList.remove(`show-${sid}`));
                bodyContainer.classList.add(`show-${e.target.id}`);
                [...e.target.parentElement.children].filter(c => c !== e.target).forEach(el => el.classList.add('button-outline'));
            });
        });
        window.addEventListener('unload', () => {
            fetch('/terminate', {
                method: "POST",
                headers: {
                    "Content-Type": "application/json; charset=utf-8",
                },
                body: JSON.stringify({}),
            });
        });
    </script>
</body>
</html>