<!DOCTYPE html>
<html>
<head>
    <title>Test Results</title>
</head>

<body>
    <h1>Test Results</h1>

    <header>
        <table border="0" cellpadding="3" cellspacing="0">
            <tr>
                <td class="passed">{{results.passed}} passed</td>
                <td class="skipped">{{results.errors}} errors</td>
                <td class="failed">{{results.failed}} failures</td>
            </tr>
        </table>
    </header>

    {{#each results.modules}}
        <section>
            <h2>{{@key}} {{#if this.skipped}}<small>(skipped)</small>{{/if}}</h2>

            {{#each this.completed}}
                <h3>{{@key}}</h3>

                <ul>
                    {{#each this.assertions}}
                        <li>
                            {{#if failure}}
                                <span class="error">&#10006;</span>
                            {{else}}
                                <span class="success">&#10004;</span>
                            {{/if}}

                            {{this.message}}

                            {{#if this.failure}}
                                {{this.failure}}
                            {{/if}}

                            {{#if this.stacktrace}}
                                <code><pre>{{this.stacktrace}}</pre></code>
                            {{/if}}
                        </li>
                    {{/each}}
                </ul>

                {{#if this.failed}}
                    <p class="error"><strong>FAILED:</strong> {{this.failed}} assertions failed and <span class="success">{{this.passed}} passed. ({{this.time}}s)</span></p>
                {{else}}
                    <p class="success"><strong>OK.</strong> {{this.passed}} assertions passed. ({{this.time}}s)</p>
                {{/if}}
            {{/each}}

            {{#if this.skipped}}
                <ul>
                    {{#each this.skipped}}
                        <li>{{this}} (skipped)</li>
                    {{/each}}
                </ul>
            {{/if}}
        </section>
    {{/each}}
</body>
</html>